*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #ccc;
}

header{
	background-color: #fc0;
	padding-bottom: 20px;
	
}
.logo{
	display: block;
	padding: 5px 0;
	color:#fff;
	font-family:'BungeeRegular', cursive;
	font-size: 38px;
	float: left;
}
nav{
	padding-top: 20px;
}
.menu{
	float: right;
	margin: 0;
    display: block;
}
.menu li{
	float: left;
	display: block;
	list-style-type: none;
}
.menu a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
	margin-right:35px;
}
h1{
	font-family: "RobotoLight";
	text-align: center;
	margin:0;
	text-transform: uppercase;
}
.slider_container{
	position: relative;
}
.slider_container img{
	max-width: 100%;	
	
}
.next_button,
.prev_button{
color: #fff;
font-size: 50px;
position: absolute;
z-index: 10;
cursor: pointer;
top: 40%;
}
.next_button:hover,
.prev_button:hover{
	color: #fc0;
}
.next_button{
	right: 20px;
}
.prev_button{
	left: 20px;
}
section.about{
padding-top: 50px;
background-color: #fff;
}

h2{
	font-size: 34px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
h3{
	font-size: 20px;
	margin: 0;
	text-align: center;
}
h4{
	font-size: 15px;
	font-family: "RobotoLight";
	margin: 0;
	text-align: center;
}
.line{
	margin-right: 50px;
}
.about ul{
	list-style-image: url(../images/ulka.gif)
}
.about li{
	padding: 3px;
}
a.button{
	padding: 15px 10px;
	border: solid 1px #7f7f7f;
	border-radius: 2px;
	display: block;
	margin: 20px;
	width: 44%;
	color: #333;
	background-color:#eee;
}
a.button:hover{
	background-color:#fcac45;
	color: #333;
}
}
button i{
	text-align: center;
	text-transform: uppercase;
}
.button span{
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-family:'BungeeRegular', cursive;
}
.title {
	
	text-align: center;
}
.lines{
	display: block;
	padding-top: 15px;
}
.team p{
	text-align: center;
}
.foto{
	text-align: center;
}
button{
	background-color: transparent;
	border: medium none;
	font-size: 25px;
}
.main_menu{
	color: #fff;
}
#top{
opacity:0.5;
position:fixed;
bottom:50px;
right:35px;
font-size: 50px;
}