body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}
.clearfix::after{
	content: "";
	display: table;
	width: 100%;
	clear: both;
}
div{
	box-sizing: border-box;
}
header{
	background: url(img/first-bg.png) no-repeat center top / cover;
	padding-bottom: 170px;	
}
.container{
	width: 1140px;
	margin: 0 auto;

}
.logo{
	margin-top: 40px;
	float: left;
	font-weight: bold;
	font-size: 24px;
	color: #fff;
}
nav{
	margin-top: 40px;
	float: right;
}
.menu{
	padding:0;
	margin: 0;
	display: block;
}
.menu li{
	float: left;
	display: block;
	list-style-type: none;
}
.menu a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	
	margin-right:35px;
}
.first-title{
	margin-top: 160px;
	color: #fff;
	font-size: 48px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
}
h1{
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 25px;	
}
.button{
	background: #fff;
	color: #c0301c;
	border-radius: 2px;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 0 auto;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	margin-top: 50px;
}
#services{
	margin-top: 100px;
	margin-bottom: 100px;
}
.title{
	margin-bottom: 70px;
}
.title h2{
font-size: 20px;
text-align: center;
text-transform: uppercase;
margin: 0;
}
.title img{
	text-align: center;
	margin: 5px;
}
.title p{
font-size: 16px;
text-align: center;
font-family: 'Roboto Slub'
margin: 5px;

}
.services_item{
	width: 360px;
	float: left;
	text-align: center;	
}
.services_item h3{
font-size: 14px;
text-align: center;
text-transform: uppercase;
}
.services_item p{
font-size: 14px;
text-align: center;
line-height: 1.8em;
}
.services_item:last-child{
	float: right;
} 
.services_item:nth-child(2){
	margin-left: 30px;
}
#about{
	background: #f8f8f8;
	padding-top: 100px;
	padding-bottom: 100px;
}
#get_in_touch{
	padding-top: 100px;
	margin-bottom: 100px;
}
.text1{
	width: 555px;
	float: left;
}
.text2{
	width: 555px;
	float: right;
}
.about p{
	
	font-size: 14px;
	line-height: 1.8em;
}
.about_item{
	width: 280px;
	float: left;
	text-align: center;
}
.about_item:last-child{
	float: right;
} 
.about_item:nth-child(2){
	margin-left: 20px;
}
.about_item:nth-child(3){
	margin-left:20px;
}
.contact_info h3{
	font-size: 14px;
	text-transform: uppercase;
	
}
.contact_info img{
	text-align: center;
	margin-right: 12px;
}
.contact_info p{
	font-size: 12px;
	line-height: 1em;
	margin-left: 25px;
}
.contact_info{
	width: 250px;
	float: left;	
}
.name_mail{
	margin-bottom: 20px;
}
.subject_company{
	margin-bottom: 20px;
}

.wrap input{
	width: 350px;
	height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 25px;
}
.textbox input{
	width: 735px;
	height: 100px;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 25px;
}
input[type=button]{

	background: #c0301c;
	color: #fff;
	border-radius: 5px;
	width: 180px;
	padding: 15px 0;
	margin: 0 auto;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 25px;
}
footer{
	width: auto;
	height: 100px;
	background-color: #c0301c;
}
.autor{
	padding-top: 30px;
	width: 250px;
	margin: 0 auto;
}
.autor p{
color: #fff;
font-size: 14px;
text-align: center;
}