@import 'grid';
@import 'fonts';
* 
{
  margin: 0;
  padding: 0;
}
.top-nav{
	height: 75px;
}
.logo{
	margin: 10px 0px 10px 0px;
	width: 150px;
	float: left;
}
.logo__img{
	width: 100%;
}
.main_menu{
	float: right;
	margin-top: 32px;
	a {
		color: #3c3d48;
		font-family: Colfax-Medium;
		font-size: 13 px;
		text-decoration: none;
		text-transform: uppercase;
	}
	ul,li{
		list-style-type: none;
		padding: 0;
		margin:0; 
	}
	li{
		display: inline-block;
		margin-right: 45px;
	}
}
.main-screen{
	height: 450px;
	background: linear-gradient(to right, #7e3cd3, #2a2072);
	background-size: cover;
}
.main-title{
	font-family: Colfax-Light;
	float:left;
	text-align: center;
	margin:90px 115px;

}
h1{
	font-size: 28px;
	color:#fff;
}
h2{
	font-size: 15px;
	color:#c3a4ff;
	margin-top: 20px;
}
h1 span{
	font-family:Colfax-Medium;
}
form{
	margin-top:25px;
}
.mail{
	width:260px;
	height: 50px;
	border: none;
	border-radius: 8px;
	background: linear-gradient(to right, #4a247d, #3c1f6d);
	font-family: Colfax-Regular;
	font-size: 15px;
	color:#e4d4ff;
	padding: 0 15px;
}
::-webkit-input-placeholder {color:#ccccff;opacity: 0.5}
::-moz-placeholder          {color:#ccccff;opacity: 0.5}/* Firefox 19+ */
:-moz-placeholder           {color:#ccccff;opacity: 0.5}/* Firefox 18- */
:-ms-input-placeholder      {color:#ccccff;opacity: 0.5}

.btn_subscribe{
	background: radial-gradient(#009d1a, #0db225);
	color:#fff;
	font-family: Colfax-Medium;
	text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border:none;
  border-radius: 8px;
  height: 49px;
  width: 140px;
  margin-left: -20px;
}
.main-title p{
	font-family: Colfax-Light;
	font-size: 13px;
	color: #c3a4ff;
	margin-top: 15px;
}
.icon{
	color: #c3a4ff;
}
.main-img{
	background-image: url(../img/nor_gfx.svg);
	height: 365px;
	width: 720px;
	margin-top: 60px;
	margin-right: 65px;
	float:right;
}